body{background-color: beige;}

h1, h2, h3{
    text-align: center;
}

img{
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 100px;
}

p{
    text-align: center;
}

a, ul, li, ol{
    text-align: center;
    list-style-position: inside;
}
.center-link{
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
}